<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>  
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav hidden-xs">
        
        <ul class="nav nav-pills nav-stacked">
       
          <div class="btn-group-vertical">
            
          <button class="btn btn-primary" type="button" routerLink="/admin" style="padding: 20px;">Add Product</button><br>
            <button class="btn btn-primary" type="button" routerLink="/category" style="padding: 20px;">Add Category</button><br>
            <button class="btn btn-primary" type="button" routerLink="/userdetails" style="padding:20px;">User Details</button>

          </div>
        </ul><br>
      </div>
    </div>
  </div>
</body>