<html>
	<head>
		<title>Tweet App</title>
		<link rel="stylesheet" type="text/css" href="account.component.css">
	</head>
	<body>
		<div class="layout">
			<div class="layout__left-sidebar">
        
        <div class="sidebar-menu">
          <img src="./assets/twitter.svg" class="brand">
          <div class="sidebar-menu__item--active">
            <img src="./assets/home.svg" class="sidebar-menu__item-icon" />
            Home
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/explore.svg" class="sidebar-menu__item-icon" />
            Explore
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/notifications.svg" class="sidebar-menu__item-icon" />
            Notifications
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/messages.svg" class="sidebar-menu__item-icon" />
            <a href="tweet">Messages</a>
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/bookmark.svg" class="sidebar-menu__item-icon" />
            Bookmarks
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/lists.svg" class="sidebar-menu__item-icon" />
            <a href="dashboard">Lists</a>
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/profile.svg" class="sidebar-menu__item-icon" />
            <a href="account">Profile</a>
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/more.svg" class="sidebar-menu__item-icon" />
            More
          </div>
          <div class="tweet__btn">
            <button routerLink="/tweet" class="btn btn-lg btn-primary" type="submit">Tweet</button> 
          </div>
          <br />
          <br />
          <br />
          <div class="footer">
            <tbody>
              <img src="./assets/profile.svg">
              <tr *ngFor="let user of users;">
                  <td>{{user.firstName}}</td>

               </tr>
          </tbody>
          </div>
        </div>
			</div>
			<div class="layout__main">
        <div class="tweet">
          <img class="tweet__author-logo" src="./assets/profile.svg" />
          <div class="tweet__main">
            <div class="tweet__header">
              <div class="tweet__author-name">
                Deepmala Gupta
              </div>
              <div class="tweet__author-slug">
                @Deepmala72
              </div>
              <br />
              <div class="tweet__publish-time">
              </div>
            </div>
          </div>
        </div>
        </div>
    
			<div class="layout__right-sidebar-container">
        
        <div class="layout__right-sidebar">
          <div class="form-group">
            <input type="text" placeholder="search users by there Name">
          </div>
          <span class="fas fa-search search-icon" style="position: absolute; z-index: 15; left:85%; top:30px; color:blue"></span>
          <div class="trends-for-you">
            <div class="trends-for-you__block">
              <div class="trends-for-you__heading">
                Trendes for you
              </div>
            </div>
            <div class="trends-for-you__block">
              <div class="trends-for-you__meta-information">
                Trending in India
              </div>
              <div class="trends-for-you__trend-name">
                #iPhone12
              </div>
              <div class="trends-for-you__meta-information">
                155k Tweets
              </div>
            </div>
            <div class="trends-for-you__block">
              <div class="trends-for-you__meta-information">
                Trending in India
              </div>
              <div class="trends-for-you__trend-name">
                #iPhone12
              </div>
              <div class="trends-for-you__meta-information">
                155k Tweets
              </div>
            </div>
            <div class="trends-for-you__block">
              <div class="trends-for-you__meta-information">
                Trending in India
              </div>
              <div class="trends-for-you__trend-name">
                #iPhone12
              </div>
              <div class="trends-for-you__meta-information">
                155k Tweets
              </div>
            </div>
            <div class="trends-for-you__block">
              <div class="trends-for-you__meta-information">
                Trending in India
              </div>
              <div class="trends-for-you__trend-name">
                #iPhone12
              </div>
              <div class="trends-for-you__meta-information">
                155k Tweets
              </div>
            </div>
            <div class="trends-for-you__block">
              <div class="trends-for-you__meta-information">
                Trending in India
              </div>
              <div class="trends-for-you__trend-name">
                #Amazon
              </div>
              <div class="trends-for-you__meta-information">
                200k Tweets
              </div>
            </div>
            <div class="trends-for-you__block">
              <div class="trends-for-you__meta-information">
                Trending in India
              </div>
              <div class="trends-for-you__trend-name">
                #iPhone12
              </div>
              <div class="trends-for-you__meta-information">
                155k Tweets
              </div>
              
            </div>
          </div>
        </div>
			
			</div>
		</div>
	</body>
</html>


