<html>
	<head>
		<title>Twitter App</title>
		<link rel="stylesheet" type="text/css" href="home.component.css">
	</head>
	<body>
		<div class="layout">
			<div class="layout__left-sidebar">
        <img src="./assets/twitter.svg" class="brand">
        <div class="sidebar-menu">
          <div class="sidebar-menu__item--active">
            <img src="./assets/home.svg" class="sidebar-menu__item-icon" />
            Home
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/explore.svg" class="sidebar-menu__item-icon" />
            Explore
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/notifications.svg" class="sidebar-menu__item-icon" />
            Notifications
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/messages.svg" class="sidebar-menu__item-icon" />
            Messages
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/bookmark.svg" class="sidebar-menu__item-icon" />
            Bookmarks
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/lists.svg" class="sidebar-menu__item-icon" />
            Lists
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/profile.svg" class="sidebar-menu__item-icon" />
            Profile
          </div>
          <div class="sidebar-menu__item">
            <img src="./assets/more.svg" class="sidebar-menu__item-icon" />
            More
          </div>
          <div class="tweet__btn ">
            <input type="submit" value="Tweet" /> 
          </div>
        </div>
			</div>
			<div class="layout__main">
        <div class="tweet">
          <img class="tweet__author-logo" src="./assets/PM.jpg" />
          <div class="tweet__main">
            <div class="tweet__header">
              <div class="tweet__author-name">
                Narendra Modi
              </div>
              <div class="tweet__author-slug">
                @narendramodi
              </div>
              <div class="tweet__publish-time">
                38m ago
              </div>
            </div>
            <div class="tweet__content">
              Birthday wishes to Mizoram CM Shri Zoramthanga Ji.<br /> I pray for his long and healthy life. 
               @ZoramthangaCM
            </div>
          </div>
        </div>
        <div class="tweet">
          <img class="tweet__author-logo" src="./assets/jyamyang.jpg" />
          <div class="tweet__main">
            <div class="tweet__header">
              <div class="tweet__author-name">
                Jamyang Tsering Namgyal
              </div>
              <div class="tweet__author-slug">
                @jtnladakh
              </div>
              <div class="tweet__publish-time">
                1h ago
              </div>
            </div>
            <div class="tweet__content">
              New India 🇮🇳 <br />
               @Narendramodi <br />
               @BJP4INDIA
              <img class="tweet__img" src="./assets/img.jfif">
            </div>
          </div>
        </div>
        <div class="tweet">
          <img class="tweet__author-logo" src="./assets/PM.jpg" />
          <div class="tweet__main">
            <div class="tweet__header">
              <div class="tweet__author-name">
                Narendra Modi
              </div>
              <div class="tweet__author-slug">
                @narendramodi
              </div>
              <div class="tweet__publish-time">
                38m ago
              </div>
            </div>
            <div class="tweet__content">
              Birthday wishes to Mizoram CM Shri Zoramthanga Ji.<br /> I pray for his long and healthy life. 
               @ZoramthangaCM
            </div>
          </div>
        </div>
        <div class="tweet">
          <img class="tweet__author-logo" src="./assets/PM.jpg" />
          <div class="tweet__main">
            <div class="tweet__header">
              <div class="tweet__author-name">
                Narendra Modi
              </div>
              <div class="tweet__author-slug">
                @narendramodi
              </div>
              <div class="tweet__publish-time">
                38m ago
              </div>
            </div>
            <div class="tweet__content">
              Birthday wishes to Mizoram CM Shri Zoramthanga Ji.<br /> I pray for his long and healthy life. 
               @ZoramthangaCM
            </div>
          </div>
        </div>
        <div class="tweet">
          <img class="tweet__author-logo" src="./assets/PM.jpg" />
          <div class="tweet__main">
            <div class="tweet__header">
              <div class="tweet__author-name">
                Narendra Modi
              </div>
              <div class="tweet__author-slug">
                @narendramodi
              </div>
              <div class="tweet__publish-time">
                38m ago
              </div>
            </div>
            <div class="tweet__content">
              Birthday wishes to Mizoram CM Shri Zoramthanga Ji.<br /> I pray for his long and healthy life. 
               @ZoramthangaCM
            </div>
          </div>
        </div>
			</div>
			<div class="layout__right-sidebar-container">
        <div class="layout__right-sidebar">
          <div class="trende-for-you">
            <div class="tendes-for-you__block">
              <div class="trende-for-you__heading">
                Trendes for you
              </div>
            </div>
            <div class="tendes-for-you__block">
              <div class="trende-for-you__meta-information">
                Trending in India
              </div>
              <div class="trende-for-you__trend-name">
                iPhone12
              </div>
              <div class="trende-for-you__meta-information">
                155k Tweets
              </div>
            </div>
            <div class="tendes-for-you__block">
              <div class="trende-for-you__meta-information">
                Trending in India
              </div>
              <div class="trende-for-you__trend-name">
                Amazon
              </div>
              <div class="trende-for-you__meta-information">
                200k Tweets
              </div>
            </div>
            <div class="tendes-for-you__block">
              <div class="trende-for-you__meta-information">
                Trending in India
              </div>
              <div class="trende-for-you__trend-name">
                iPhone12
              </div>
              <div class="trende-for-you__meta-information">
                155k Tweets
              </div>
            </div>
          </div>
        </div>
			
			</div>
		</div>
	</body>
</html>
